<div class="card video p-3 border-0 mb-3">
    <div class="row">
        <div class="col-md-6 text-center">
            <div class="label">Vídeo Aulas</div>
            <div class="progress" style="height: 8px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <span class="material-icons icon text-white">
                play_circle_outline
                </span>
        </div>
    </div>
</div>