<app-top [type] = 1></app-top>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-2 col-2  offset-md-3">
            <app-btn [icon] = 'iconCreate'></app-btn>
        </div>
        <div class="col-md-5">
            <h1>Exercícios</h1>
        </div>
    </div>
    <div class="row mt-5 mb-3">
        <div class="col-md-4 offset-md-3">
            <app-card-exercicio [exercicio] = "exercicio"></app-card-exercicio>
        </div>
        <div class="col-md-4 mt-2">
            <app-btn class="ml-2" [icon] = 'iconEdit'></app-btn>
            <app-btn class="ml-2" [icon] = 'iconSearch'></app-btn>
            <app-btn class="ml-2" [icon] = 'iconDelete'></app-btn>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4 offset-md-3">
            <app-card-exercicio [exercicio] = "exercicio"></app-card-exercicio>
        </div>
        <div class="col-md-4 mt-2">
            <app-btn class="ml-2" [icon] = 'iconEdit'></app-btn>
            <app-btn class="ml-2" [icon] = 'iconSearch'></app-btn>
            <app-btn class="ml-2" [icon] = 'iconDelete'></app-btn>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4 offset-md-3">
            <app-card-exercicio [exercicio] = "exercicio"></app-card-exercicio>
        </div>
        <div class="col-md-4 mt-2">
            <app-btn class="ml-2" [icon] = 'iconEdit'></app-btn>
            <app-btn class="ml-2" [icon] = 'iconSearch'></app-btn>
            <app-btn class="ml-2" [icon] = 'iconDelete'></app-btn>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4 offset-md-3">
            <app-card-exercicio [exercicio] = "exercicio"></app-card-exercicio>
        </div>
        <div class="col-md-4 mt-2">
            <app-btn class="ml-2" [icon] = 'iconEdit'></app-btn>
            <app-btn class="ml-2" [icon] = 'iconSearch'></app-btn>
            <app-btn class="ml-2" [icon] = 'iconDelete'></app-btn>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4 offset-md-3">
            <app-card-exercicio [exercicio] = "exercicio"></app-card-exercicio>
        </div>
        <div class="col-md-4 mt-2">
            <app-btn class="ml-2" [icon] = 'iconEdit'></app-btn>
            <app-btn class="ml-2" [icon] = 'iconSearch'></app-btn>
            <app-btn class="ml-2" [icon] = 'iconDelete'></app-btn>
        </div>
    </div>
</div>