<app-top [type] = 2></app-top>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 offset-md-4">
            <h1>Módulo-Edit</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form>
                <div class="form-group">
                  <label for="exampleFormControlFile1">Módulo:</label>
                  <input class="form-control" type="text" >
                </div>
                <div class="form-group text-right">
                    <app-btn [icon] = 'icon'></app-btn>
                  </div>
              </form>
        </div>
    </div>
</div>