.label {
    font-size: 0.8em;
    color: white;
}

.pacote {
    background: rgb(34,74,255);
    background: linear-gradient(0deg, rgba(34,74,255,1) 0%, rgba(105,132,255,1) 100%);
}
.card {
    border-radius: 8px;
}