<app-top [type] = 1></app-top>
<div class="container login mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4 text-center mb-5">
            <h1 class="display-6">Admin</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="mb-3">
                <input class="form-control form-control-lg" type="email" placeholder="Email: " aria-label=".form-control-lg example">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control form-control-lg" id="email" placeholder="Senha:">
            </div>
            <div class="mb-3">
                <small>Esqueci minha senha</small>
            </div>
            <div class="mb-3 text-center">
                <button type="button" class="btn btn-primary btn-lg col-12">Login</button>
            </div>
        </div>
    </div>
</div>