<app-top [type] = 1></app-top>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-2 col-2  offset-md-3">
            <div class="btn bg-primary text-white" (click) = "goCreate()" >
                <span class="material-icons">iconCreate</span>
            </div>
        </div>
        <div class="col-md-5">
            <h1>Itens</h1>
        </div>
    </div>
    <div class="row mt-5 mb-3" *ngFor="let exercicioItem of exercicioItems$ | async">
        <div class="col-md-4 offset-md-3">
            <app-card-item [exercicioItem] = "exercicioItem"></app-card-item>
        </div>
        <div class="col-md-4 mt-2">
            <a [routerLink]="['/item-edit', exercicioItem.id]"><span class="material-icons">iconEdit</span></a>
            <a routerLink="/item/{{exercicioItem.id}}"><span class="material-icons">iconSearch</span></a>
            <span (click) = "delete(exercicioItem.id)" class="material-icons">iconDelete</span>
        </div>
    </div>
</div>
